In [9]:
#Experiment1 : Introduction to python
#Prn:25070123090
print("orange","apple","banana",sep="\n")



x,y,z="Bun","Chai","Biscuit"
print(x)

orange
apple
banana
Bun

In [12]:
p=2
q=2.5
r="Rishabh"
s=True
print(type(p))
print(type(q))
print(type(r))
print(type(s))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [15]:
a=60
b=7
c=2**3
new_var = a+b
new_var0 = a-b
new_var1 = a*b
new_var2 = a/b
print(new_var,new_var0,new_var1,new_var2, c ,sep="\n")

67
53
420
8.571428571428571
8

In [22]:
a=int(input("Enter number 1:"))
b=int(input("Enter number 2:"))
c=a+b
d=a-b
e=a*b
f=a/b
g=a**b
print(c,d,e,f,g,sep="\n")

Enter number 1:2
Enter number 2:3
5
-1
6
0.6666666666666666
8

In [34]:
import math
r=float(input("Enter number: "))

c=pi*r**2
print(c)

Enter number: 1
3.141592653589793

In [35]:
import math
r=int(input("Enter number: "))

c=pi*r**2
d=math.log10(r)
print(c)
print(d)
print(math.pi)

Enter number: 3
28.274333882308138
0.47712125471966244
3.141592653589793

In [41]:
a=int(input("Enter number 1:"))
b=int(input("Enter number 2:"))

if (a>b):
  print("B is not greater than A")
else:
  print("B is greater than A")

Enter number 1:3
Enter number 2:2
B is not greater than A